.fileViewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 35px 20px;
  background-color: #f1f8fa;
  overflow: hidden;
  border-radius: 16px;
  font-size: 20px;
}

.filesList {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.grow {
  flex-grow: 1;
}

.fileEntry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3f8fe;
  gap: 16px;
  width: 100%;
}

.fileName {
  flex-grow: 1;
}
.fileStatus {
  font-size: 0.8em;
  color: #abaaaa;
  margin-top: 3px;
}

.fileDeleteIcon {
  cursor: pointer;
}

.fileUploadContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.fileUploadBtn {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
  background-color: rgb(71, 192, 208);
  color: white;
  padding: 8px 24px;
  border-radius: 40px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.fileUploadInput {
  display: none;
}

.title {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.fileName {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.uploadIcon {
  margin-left: 7px;
}

.talentAssistoLogo {
  margin: 0px 0 30px 0;
}
